body{
		font-family: Helvetica;
}

#mainId{
	    width: 21em;
    margin: 0 auto;
}

#mainId h1{
	margin: 1em auto;
	text-align: center;
}

#mainId #mainInput{
	width: 25em;
	height: 2em;
	border-radius: 0.5em;
	border: 2px solid lightgrey;
	padding: 0 0 0 2em;
}

.rm {
    display: inline-block;
    width: 5em;
    margin: 0 0 0 9em;
    cursor: pointer;
}

.li{
	display: inline-block;
    width: 3em;
}

.box{
	display: inline-block;
	width: 1em;
}

ul{
	padding: 0 1em;
}

#all{
	border: none;
    border-radius: 0.5em 0 0 0.5em;
    height: 2.3em;
    position: relative;
    top: 2.3em;
    width: 2em;
    left: -1em;
    padding:0.8em 0;
}
